
/* this class for default display for child elements  */
.item-tr-display-none{
    display:none;
}

/* this class for child td color change  */
.child-td-color{
    color:red;
}

/* this class for heightlight a string  */
.heighlight-string{
    background-color:#ffff00;
}

/* this is for required filed border  */

.required-input-border{
    border:1px solid red;
}
.position-for-filter-heading{
    position: relative;
    
}
.character-counter-div{
    float : right;
}

.btn-gray-action { background:#f3f2f7;}
.dropdown-menu { min-width: 5rem !important;}
.filter-short {position:absolute;top:0px; left:-9px; padding:10px; width:100%; height:100%; cursor:pointer;}

/* .row_table {display:flex !important;justify-content:center;align-items: center; border:#ebe9f1 1px solid; border-right:none; border-left:none; font-weight:bold; padding:0px 0px;}

.sort_desc { background:#f3f2f7; padding:16px 0px; display: flex;}
.sort_desc:last-child { justify-content: center;}
.sort_desc:hover, .sort_desc.active { background:#dcd9e8; color: #737081;}
.sort_desc:focus{ background:#dcd9e8; color: #737081;}

.sort_desc .fa-arrow-up-short-wide { color:#e7e7e7;}
.sort_desc.active .fa-arrow-up-short-wide { color:#737081;}


.inner_row {padding: 5px 0px 0px 0px; border-bottom: #f3f2f7 1px solid; display:flex;    justify-content: center; align-items:center;}
.position_div { position:relative !important; top:-2px; } */

.short-by-filter { display:inline-block;}

/*------------make-table----------*/

.main_table { width:100%; display: table;  }
.main_table > .table_header { width:100%; background:#f3f2f7; display:table-row; font-weight:bold; border:#ebe9f1 1px solid; border-left:none; border-right:none;}
.main_table > .table_header > .header_col { display:table-cell; padding: 6px 20px;width:auto; vertical-align:middle; text-align:left; border:#ebe9f1 1px solid; border-left:none; border-right:none;}
.main_table > .table_header > .header_col:hover  {background:#dfd7ef;}
.main_table > .table_header > .header_col:active {background:#dfd7ef;}


.main_table > .table_row {border-bottom: #f3f2f7 1px solid; display:table-row; width:100%; }
.main_table > .table_row > .make_col { display:table-cell; width:auto; border-bottom:#f3f2f7 1px solid; padding: 10px 20px; vertical-align: middle; text-align:left;}

.main_table > .table_header .fa-arrows-up-down { color:#beb7b7;}
.main_table > .table_header.active .fa-arrow-up-wide-short, .main_table > .table_header.active 
.fa-arrow-down-short-wide { color:#737081;}




@media only screen and ( min-width: 320px ) and ( max-width:767px ) {
.position_div{padding-bottom:12px; top:4px;}  

.main_table {width:100%;display:inline-block;}
.main_table > .table_header { display: inline-block;}
.main_table > .table_header > .header_col {display:inline-flex; padding:6px 18px; border:none;} 
.main_table > .table_row { display: inline-block;}
.main_table > .table_row > .make_col {display:inline-flex; padding: 10px 18px; border-bottom:none; }

.filter-short {top:-4px;left:-8px;}


}
