/admin.gabs.biz/public_html/hot
/admin.gabs.biz/public_html/data
/admin.gabs.biz/public_html/fonts
/admin.gabs.biz/public_html/images
/admin.gabs.biz/public_html/storage
/admin.gabs.biz/public_html/js
/admin.gabs.biz/public_html/css
/admin.gabs.biz/public_html/vendors
*.sql
/.idea
/tmp
/ssl
/public_ftp
/perl5
/mail
/etc
/.trash
/.htpasswds
/.cphorde
/.cpanel