/node_modules
/resources/lang/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Providers/RouteServiceProvider.php
/vuexy-shell-scripts
supervisord.log
supervisord.pid
*.sql